<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industrial Energy Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>⚡ Control Panel</h2>
    <a href="/">Dashboard</a>
    <a href="/users">Users</a>
    <a href="/meters">Meters</a>
    <a href="/consumption">Consumption</a>
    <a href="/reports">Reports</a>
</div>

<div class="content-wrapper">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>
